html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #ffffff;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
}

.menu .title {
    font-size: 40px;
}

/* collection of buttons */
.menu .buttons {
    margin-top: 80px;
}

/* individual button */
.menubtn
{
  width: calc( 100% - 30px );
  border: 1px solid rgba(255, 255, 255, .4);
  color: rgba(255, 255, 255, .4);
  background: rgba(0,0,0,.7);
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}

.menubtn:hover
{
  width: calc( 100% - 30px );
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background: rgba(0,0,0,.7);
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

/* scene selection */

#sceneselect
{
    /* default invisible */
    display: none;
}
